.layout_header{
    background-color: var(--normal-white);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header_title{
    font-weight: 500;
}

.layout_body{
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}